.row {
  margin: 1.5em;
  color: white;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 1em;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 12em;
  max-height: 320px;
  margin-right: 1.5em;
  transition: all 450ms;
}
.row__largePoster {
  max-height: 18em;
}
.row__poster:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.row__trailer {
  z-index: 1;
  height: 40%;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 1em 4em;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .row {
    margin: 0.8em;
  }
  .row__trailer {
    z-index: 4;
    height: 40%;
    max-width: 100%;
    display: grid;
    align-items: center;
    padding: 0em 0em;
    overflow: hidden;
  }
}
